<!DOCTYPE html>    
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is the homepage for Airline Workers">
    <title>Add Airport</title>

</head>
<body>
    <h1>Add Airport</h1>
    <form action="/AddAirport", method="POST">
        <fieldset>
            <legend>Add Airport</legend>
            <input type="text" Name="airport_name" placeholder = "Airport Name"/>
            <input type="text" Name="code" placeholder = "Airport Code"/>
            <input type="text" Name="city" placeholder = "City"/>
            <input type="text" Name="country" placeholder = "Country"/>
            <input type="text" Name="airport_type" placeholder = "Airport Type"/>

            <br/>
            <input type="submit" value="Add An Airport"/>
        </fieldset>
    </form>
    <h1>New Airport:</h1>
    <table>
        <th>Airport Name</th>
        <th>Airport Code</th>
        <th>City</th>
        <th>Country</th>
        <th>Airport Type</th>
    {% for line in data %}
        <tr>
            <td>{{line['airport_name']}}</td>
            <td>{{line['code']}}</td>
            <td>{{line['city']}}</td>
            <td>{{line['country']}}</td>
            <td>{{line['airport_type']}}</td>
        </tr>
    {% endfor %}
</body>
</html>