<!DOCTYPE html>    
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is the homepage for Airline Workers">
    <title>Add Airplane</title>

</head>
<body>
    <h1>Add Airplane</h1>
    <form action="/AddAirplane", method="POST">
        <fieldset>
            <legend>Add Airplane</legend>
            <input type="text" Name="id" placeholder = "ID"/>
            <input type="text" Name="airline_name" placeholder = "Airline Name"/>
            <input type="text" Name="num_of_seats" placeholder = "Number of Seats"/>
            <input type="text" Name="manufacturing_comp" placeholder = "Manufacturing Company"/>
            <input type="text" Name="age_of_airplane" placeholder = "Age of Airplane"/>

            <br/>
            <input type="submit">
        </fieldset>
    </form>
    <h1>New Airline:</h1>
    <table>
        <th>Airline ID</th>
        <th>Airline Name</th>
        <th>Number of Seats</th>
        <th>Manufacturing Company</th>
        <th>Airplane Age in Years</th>
    {% for line in data %}
        <tr>
            <td>{{line['ID']}}</td>
            <td>{{line['airline_name']}}</td>
            <td>{{line['num_of_seats']}}</td>
            <td>{{line['manufacturing_comp']}}</td>
            <td>{{line['age_of_airplane']}}</td>
            <td>{{line['airport_type']}}</td>
        </tr>
    {% endfor %}

    <h1>Airplanes owned by your airline:</h1>
    <table>
        <th>Airplane ID</th>
        <th>Airline Name</th>
    {% for line in airports %}
        <tr>
            <td>{{line['id']}}</td>
            <td>{{line['airline_name']}}</td>
        </tr>
    {% endfor %}
</body>
</html>