<!DOCTYPE html>
<html>
    <head>
    
        <meta charset="UTF-8">
        <title>Airline Staff Login</title>
    </head>

    <body>
        <form action = "/StaffloginAuth" method = "POST">
            <label for="start">Staff Login:</label>
            <br/>
            <input type = "text" name = 'username' placeholder = 'username'/><br>
            <input type = "password" name = 'password' placeholder = "password"/><br>
            <input type = "submit"><br>
        </form>

    <br/><a href = "/home"><button>Back to Home</button></a>
    </body>
</html>
