<!DOCTYPE html>    
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is the homepage for Airline Workers">
    <title>Add Airplane</title>

</head>
<body>
    <h1>Add Airplane</h1>
    <form action="/AddAirplane", method="POST">
        <fieldset>
            <legend>Add Airplane</legend>
            <input type="text" Name="id" placeholder = "ID"/><br>
            <input type="text" Name="airline_name" placeholder = "Airline Name"/><br>
            <input type="text" Name="num_of_seats" placeholder = "Number of Seats"/><br>
            <input type="text" Name="manufacturing_comp" placeholder = "Manufacturing Company"/><br>
            <input type="text" Name="age_of_airplane" placeholder = "Age of Airplane"/><br>

            <br/>
            <input type="submit">
        </fieldset>
    </form>
</body>
</html>