<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is the homepage for Airline Workers">
        <title>Flight Status Change.</title>

    </head>
    <body>
        <h1>Change Flight Status</h1>
        <form action="/StaffChangeFlights" method="POST">
            <fieldset>
                <legend>Create Flight</legend>
                <input type="text" Name = "airline_name" placeholder = "Airline Name"/>
                <input type="text" Name = "flight_num" placeholder = "Flight Number"/>
                <input type="text" Name = "status" placeholder = "Status"/>
                <br/>
                <input type="submit">