<!DOCTYPE html>    
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is the homepage for Airline Workers">
    <title>Flight Creation.</title>

</head>
<body>
    <h1>Flight Creation</h1>
    <form action="/StaffCreate" method="POST">
        <fieldset>
            <legend>Create Flight</legend>
            <input type="text" name = "flight_num" placeholder = "Flight Number"/><br>
            <input type="text" name = "airline_name" placeholder = "Airline Name"/><br>
            <label for="start">Depart Date:</label>
            <br/>
            <input type="date" id="depart" name = "depart_date_time"/><br>
            <label for="start">Arrival Date:</label>
            <br/>
            <input type="date" id="arrive" name = "arrive_date_time"/><br>
            <input type="text" name = "base_price" placeholder = "Base Price"/><br>
            <input type="text" name = "status" placeholder = "Status Of Flight"/><br>
            <input type="text" name = "depart_airport_code" placeholder = "Depart Airport Code"/><br>
            <input type="text" name = "arrive_airport_code" placeholder = "Arrive Airport Code"/><br>
            <input type="text" name = "airplane_id" placeholder = "Airplane_id"/><br>
            <br/>
            <input type="submit">
        </fieldset>
    </form>
<hr/>
<hr/>
<br>
<br>
<br>
    <h1>Airports owned by your airline:</h1>
    <table>
        <th>ID</th>
        <th>Seats</th>
    {% for line in planes %}
        <tr>
            <td>{{line['ID']}}</td>
            <td>{{line['Seats']}}</td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <br>
    <a href = "/StaffHome"><button>Back to Home</button></a>
</body>
</html>
    