<!DOCTYPE html>
<html>

<head> <h1>Welcome, {{name}}</h1>
</head>
<body>

<a href="/rating">Ratings</a>
<a href="/history">history</a>
<a href="/logout">Logout</a>


<script>
    function round() {
            document.getElementById("return").innerHTML=
                '<input id ="date" name="return_date" type="date" required/></br>';
	}
</script>


<style>
	
	body { 
	background-color: lightblue; 
	}
   
	table, th, td{
		border: 1px solid black;
	}
    .container
    {
		overflow: hidden;
		width:150px;
    }
    .text
    {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block; 
    }
</style>

<form action="/custo_search_flight" method="POST">
    <h3>Search flights</h3>
	<input type="text" name = "depart" placeholder="Depart place" required/> </br>
	<small>Source city/airport name</small></br>
	<input type="text" name = "arrive" placeholder="Arrive place" required/> </br>
	<small>Destination city/airport name</small></br>
    <label for="date">Depart Date</label>
    <input type='date' id='date' name="depart_date" required/></br>
    <label for="roundtrip" style="padding: 10px 5px 0 0;">Round trip</label>
    <input type='button' id='roundtrip' onclick='round()' style ="height:15px;width:15px;"></br>
    <div id='return' value=return-date> </div>
	<input type="submit" value ='Search'/>
</form>

</br>

<table>
   <th>Airline Name</th>
   <th>Flight Number</th>
   <th>Depart Airport</th>
   <th>Depart Date and Time</th>
   <th>Arrive Airport</th>
   <th>Arrive Date and Time</th>
   <th>Price</th>

{% for line in custo_flight_info%}
   <tr>
		<td>{{line['airline_name']}}</td>
		<td>{{line['flight_num']}}</td>
		<td>{{line['depart_airport']}}</td>
		<td>{{line['depart_date_time']}}</td>
		<td>{{line['arrive_airport']}}</td>
		<td>{{line['arrive_date_time']}}</td>
		{% if line['access']%}
              <td>${{line['base_price']}}</td>
      {% endif %}
      {% if not line['access'] %}    
              <td><a href="{{url_for('buyhome', flight_num=line['flight_num'], airline=line['airline_name'])}}">${{line['base_price']}}</a></td>
      {% endif %}
   </tr>
{% endfor %}
</table>

	

</body>

</html>
