<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is the homepage for Airline Workers">
        <title>Airline Staff Home Page!</title>

    </head>
    <body>
        <h1>Welcome to the Staff Home Page {{username}}!</h1>
        </br>  
        </br>  
        <a href="/ViewFlights"><button type="button">View Future Flights</button></a> <hr/>
        <a href="/GoToCreateFlights"><button type="button">Create Flights</button></a> <hr/>
        <a href="/ChangeFlights"><button type="button">Change Flight Status</button></a> <hr/>
        <a href="/GoToAirplane"><button type="button">Add a Plane</button></a> <hr/>
        <a href="/GoToAirport"><button type="button">Add an Airport</button></a> <hr/>
        <a href="/ViewRatings"><button type="button">View Flight Ratings</button></a> <hr/>
        <a href="/ViewFrequentCustomers"><button type="button">View Frequent Customers</button></a> <hr/>
        <a href="/ViewReports"><button type="button">View Reports</button></a> <hr/>
        <a href="/ViewEarnedRevenue"><button type="button">View Earned Revenue</button></a> <hr/>      
        <a href="/ViewTopDestinations"><button type="button">View Top Destinations</button></a> <hr/>
        <a href="/ViewRevByTravelClassPoint"><button type="button">View Revenue By Travel Class</button></a> <hr/>

        <a href = "/logout"><button>Log Out</button></a><br>
       
     </form> 
     <a href = "/StaffHome"><button>Update</button></a>
    </form>
    </body>

</html>
