<!DOCTYPE html>    
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is the homepage for Airline Workers">
    <title>View Top Destinations</title>

</head>
<body>
    <h4>Top Destinations Over Last 3 Months</h1> 
    <form action="/ViewTopDestinations" method="post">
        </br>
        </br> 
        <table>
            <th>Destination Airport</th>
        {% for line in past_three_months %}
            <tr>
                <td>{{line['arrive_airport_code']}}</td>
            </tr>
        {% endfor %}
        </table>
        <br>
        <br>
        <h4>Top Destinations Over Last Year</h1> 
        <table>
            <th>Destination Airport</th>
        {% for line in past_year %}
            <tr>
                <td>{{line['arrive_airport_code']}}</td>
            </tr>
        {% endfor %}
        </table>
        
    </form>
 </body>
 </html>
