<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for flights</title>
</head>
<body>
   <h1>Flights over next 30 days</h1> 
   <form action="/StaffFlightView" method="post">
       Enter dates of flights you wish to see
       </br>
       </br> 
       <input type = "date" name = "depart_date_time" placeholder = "Day of Departure"/><br>
       <input type = "date" name = "arrive_date_time" placeholder = "Day of Return"/><br>
       <input type = "text" name = "airline_name" placeholder = "Airline Name"/><br>
       <input type = "text" name = "flight_num" placeholder = "Flight Number"></br>
       <input type = "text" name = "dep_airport_code" placeholder = "Departure Airport Code"/><br>
       <input type = "text" name = "arrive_airport_code" placeholder = "Arrival Airport Code"/>
       </br>
       </br> 
       <input type = "submit" value = "Search" /></br>
   </form>
</body>