<!DOCTYPE html>    
<html> 
<style>
table, th, td{
    border:1px solid black;
    }
</style>   
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is the change flights page for Airline Workers">
    <title>View Revenue Earned</title>
</head>

<body>
    <h1>View Earned Revenue</h1>
    <table style="width:100%">
        <th>Last Month Sales</th>
    {% for line in past_month %}
        <tr>
            <td>Price:  ${{line['rev']}} - Date: {{line['purchase_date_time']}}</td>
        </tr>
    {% endfor %}
    </table>
<br>
<br>
<br>
    <table style="width:100%">
        <th>Last Year Sales</th>
    {% for line in past_year %}
        <tr>
            <td>Price:  ${{line['rev']}} - Date: {{line['purchase_date_time']}}</td>
        </tr>
    {% endfor %}
    </table>
    <br><a href = "/StaffHome"><button>Back to Home</button></a>

    </body>
    </html>
