<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for flights</title>
</head>
<body>
   <h1>Flights over next 30 days</h1> 
   <form action="/StaffFlightView" method="post">
       Enter Airline Name
       </br>
       </br> 
       <input type = "text" name = "airline_name" placeholder = "Airline Name"/><br>
       </br> 
       <input type = "submit" value = "Search" /></br>
   </form>




   <table style="width:100%">
   Flights over next 30 days
   <th>Airline Name                </th>
   <th>Flight Number</th>
   <th>Depart Date Time</th>
   <th>Arrive Date Time</th>
   <th>Base Price</th>
   <th>Status</th>
   <th>Depart Airport Code</th>
   <th>Arrive Airport Code</th>
   <th>Airplane ID</th>
   </table>


   <table style="width:100%">

   {% for line in data %}
       <tr>
           <td>{{line['airline_name']}}</td>
           <td>{{line['flight_num']}}</td>
           <td>{{line['depart_date_time']}}</td>
           <td>{{line['arrive_date_time']}}</td>
           <td>{{line['base_price']}}</td>
           <td>{{line['status']}}</td>
           <td>{{line['depart_airport_code']}}</td>
           <td>{{line['arrive_airport_code']}}</td>
           <td>{{line['airplane_id']}}</td>
        </tr>
        {% endfor %}

    </table>
           
    <br><a href = "/StaffHome"><button>Back to Home</button></a>



</body>
</html>