<!DOCTYPE html>    
<html> 
<style>
table, th, td{
    border:1px solid black;
    }
</style>   
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is the change flights page for Airline Workers">
    <title>View Revenue Earned</title>
</head>

<body>
    <h1>View Earned Revenue</h1>
    <table style="width:100%">
        <tr>
            <th>Last Month Sales</th>
            <th>Last Year Sales</th>
        </tr>
    </table>
    <form action="/ViewEarnedRevenue" method="POST">
