<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is the homepage for Airline Workers">
        <title>Airline Staff Home Page!</title>

    </head>
    <body>
        <h1>Welcome to the Staff Home Page {{username}}!</h1>
        <a href="/ViewFlights.html"><button type="button">View Future Flights</button></a> <hr/>
        <a href="/createflights.html"><button type="button">Create Flights</button></a> <hr/>
        <a href="/ChangeFlights.html"><button type="button">Change Flight Status</button></a> <hr/>
        <a href="/createflights.html"><button type="button">Add a Plane or Airport</button></a> <hr/>
        <a href="/ViewFlightRatings.html"><button type="button">View Flight Ratings</button></a> <hr/>
        <a href="ViewFrequentCustomers.html"><button type="button">View Frequent Customers</button></a> <hr/>
        <a href="/ViewReports.html"><button type="button">View Reports</button></a> <hr/>
        <a href="/ViewEarnedRevenue.html"><button type="button">View Earned Revenue</button></a> <hr/>      
        <a href="/ViewTopDestinations.html"><button type="button">View Top Destinations</button></a> <hr/>
       
        


    </body>

</html>
